@using System.Globalization
@using PKMGerejaEbenhaezer.Web.Areas.Dashboard.Models
@model List<Pengumuman>
@{
    ViewData["Title"] = "Pengumuman";
    var cultureInfo = new CultureInfo("id-ID");
}


<div class="pengumuman">
    <h1 class="title">Daftar Pengumuman</h1>
    <ul class="breadcrumbs mb-4">
        <li><a href="#">Information</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Daftar Pengumuman</a></li>
    </ul>
    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th width="10%">Foto</th>
                    <th>Judul</th>
                    <th>Isi</th>
                    <th>Ada Dokumen</th>
                    <th>Dokumen</th>
                    <th>Tanggal Dibuat</th>
                    <th>Tanggal Diubah</th>
                    <th>Pembuat</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pengumuman in Model)
                {
                    <tr>
                        <td>@pengumuman.Id</td>
                        <td>
                            @if (pengumuman.Foto is not null)
                            {
                                <img src="@Url.ActionLink("Index", "Foto", new {Area = "", id = pengumuman.Foto.Id})" 
                                alt="@pengumuman.Id" class="img-fluid" />
                            }
                            else
                            {
                                <img src="~/img/gereja1.jpg" class="img-fluid"/>
                            }
                        </td>
                        <td>@pengumuman.Judul</td>
                        <td>@pengumuman.Isi</td>
                        <td>@(pengumuman.HaveDocument ? "Ada" : "Tidak Ada")</td>
                        <td>@if (pengumuman.HaveDocument)
                            {
                                <a href="@Url.ActionLink("Dokumen", "Pengumuman" , new {Area="" , id=pengumuman.Id})">
                                    Dokumen
                                </a>
                            }
                        </td>
                        <td>@pengumuman.TanggalDiBuat.ToString(cultureInfo.DateTimeFormat.LongDatePattern, cultureInfo) @pengumuman.TanggalDiBuat.ToString(cultureInfo.DateTimeFormat.ShortTimePattern, cultureInfo)</td>
                        <td>@pengumuman.TanggalDiUbah?.ToString(cultureInfo.DateTimeFormat.LongDatePattern, cultureInfo) @pengumuman.TanggalDiUbah?.ToString(cultureInfo.DateTimeFormat.ShortTimePattern, cultureInfo)</td>
                        <td>
                            @if(pengumuman.Pembuat != null)
                            {
                                @pengumuman.Pembuat.UserName
                            }
                            else
                            {
                                "Tidak Ada".ToString();
                            }
                        </td>
                        <td>
                            <div class="d-flex gap-1 justify-content-start align-items-center">
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@pengumuman.Id">
                                    <i class="fas fa-pen-square"></i>
                                </a>
                                <!-- Button trigger modal -->
                                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal@(pengumuman.Id)">
                                    <i class="fa fa-regular fa-trash"></i>
                                </a>

                                @{
                                    var modalVM = new DeleteConfirmationModalVM
                                    {
                                        ModalId = $"exampleModal{pengumuman.Id}",
                                        ModalTitle = "Hapus Pengumuman",
                                        FormAction = Url.Action("Hapus", "Pengumuman", new { Area = "Dashboard", id = pengumuman.Id})!,
                                    };
                                }

                                <partial name="_DeleteConfirmationModalPartial" model="modalVM"/>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <partial name="_DataTablePartial" />
}