@using PKMGerejaEbenhaezer.Web.Areas.Dashboard.Models.Pengumuman
@model TambahVM
@{
    ViewData["Title"] = "Tambah Pengumuman";
}

<div class="pluspeng">
    <h1 class="title">Tambah Pengumuman</h1>
    <ul class="breadcrumbs mb-4">
        <li><a href="#">Information</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Tambah Pengumuman</a></li>
    </ul>

    <div class="container-fluid cardplus">

        <form asp-action="Tambah" method="post" class="container" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>

            <div class="row mb-3 justify-content-center align-items-center">
                <div id="dvPreview" class="d-flex justify-content-center align-items-stretch">
                    <div class="d-flex justify-content-center align-items-center flex-grow-1">
                        <h2>Foto Pengumuman</h2>
                    </div>
                </div>
            </div>

            <vc:upload-foto></vc:upload-foto>

            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="@Model.Judul" class="form-label"></label>
                    <input type="text" asp-for="@Model.Judul" class="form-control" />
                    <span class="form-text text-danger" asp-validation-for="@Model.Judul"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="@Model.Isi" class="form-label"></label>
                    <textarea type="text" asp-for="@Model.Isi" class="form-control"></textarea>
                    <span class="form-text text-danger" asp-validation-for="@Model.Isi"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <input id="haveDocument" type="checkbox" asp-for="@Model.HaveDocument" class="form-check-input"></input>
                    <label asp-for="@Model.HaveDocument" class="form-check-label"></label>
                    <span class="form-text text-danger" asp-validation-for="@Model.HaveDocument"></span>
                </div>
            </div>

            <div id="document" class="row mb-3" @(Model.HaveDocument ? "" : "hidden")>
                <div class="col-12">
                    <label asp-for="@Model.FormFile" class="form-label"></label>
                    <input type="file" asp-for="@Model.FormFile" class="form-control"></input>
                    <span class="form-text text-danger" asp-validation-for="@Model.FormFile"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <button type="submit" class="btn" style="width:100%;">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(function () {
            $('#haveDocument').on('change', function () {
                const value = $(this).prop('checked');

                $('#document').prop('hidden', !value);
            });
        })
    </script>
}