@model Pengumuman
@{
    ViewData["Title"] = "Pengumuman";
}

@* Untuk Tampilkan foto pengumuman begini bng. Copy ini tinggal ganti variablenya *@
@if (Model.Foto is not null)
{
    <img src="@Url.ActionLink("Index", "Foto", new {Area = "", id = Model.Foto.Id})" />
}
else
{
    <img src="~/img/gereja1.jpg" />
}

Judul : @Model.Judul
Isi : @Model.Isi
@if (Model.HaveDocument)
{
    <a asp-action="Dokumen" asp-route-id="@Model.Id">Dokumen</a>
}
@if (Model.Pembuat is not null)
{
    <div>
        Oleh : @Model.Pembuat.UserName
    </div>
}