@model IndexVM
@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section -->
<section id="hero" class="container-fluid">
    <h1>Gairah Untuk Mengenal Kristus</h1>
    <p style="font-family:'Tinos';">
        "Inilah hidup yang kekal itu, yaitu bahwa mereka mengenal engkau, satu-satunya Allah
        yang benar, dan mengenal Yesus Kristus yang telah Engkau utus."
        <br />
        (Injil Yohanes 17:3)
    </p>
</section>
<!-- Akhir Hero Section -->
<!-- Pengumuman Section -->
<section class="peng">
    <!-- Header Pengumuman Section -->
    <header class="section-header">
        <div class="header-text">
            <h1>Pengumuman Gereja</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <button class="peng-btn btn">Lihat Semua</button>
    </header>
    <!-- Akhir Header Pengumuman Section -->
    <!-- Content Pengumuman Section -->
    <div class="peng-contents">
        <div class="owl-carousel owl-theme fernand">
            @if (Model.DaftarPengumuman != null || Model.DaftarPengumuman!.Count > 0)
            {
                @foreach (var pengumuman in Model.DaftarPengumuman)
                {
                    var cultureInfo = new System.Globalization.CultureInfo("id-ID");
                    <!-- Ini Cardnya Bang -->
                    <div class="item peng-card">
                        @if (pengumuman.Foto != null)
                        {
                            <img src="@Url.ActionLink("Index", "Foto", new {Area = "", id = pengumuman.Foto.Id})" />
                        }
                        else
                        {
                            <img src="~/img/gereja1.jpg"/>
                        }
                        <div class="category">
                            <div class="subject">
                                <h3>Pengumuman</h3>
                            </div>
                        </div>
                        <h2 class="peng-title">@pengumuman.Judul</h2>
                        <p>@pengumuman.Isi</p>
                        <div class="peng-tanggal">
                            <span><i class="ri-calendar-fill"></i>@pengumuman.TanggalDiBuat.ToString(cultureInfo.DateTimeFormat.LongDatePattern, cultureInfo)</span>
                        </div>

                        @if(pengumuman.Pembuat != null)
                        {
                            <div>
                                Oleh : @pengumuman.Pembuat.UserName
                            </div>    
                        }
                    </div>
                    <!-- Ini Akhir Cardnya Bang -->
                }
            }
        </div>
    </div>
    <!-- Akhir Pengumuman Section -->
</section>
<!-- Akhir Pengumuman Section -->
<!-- Chart Section -->

<section id="about-container" class="mb-5">
    <div class="about-img">
        @{
            var chartModel = new ChartModel
            {
                Type = ChartType.Doughnut,
                Label = "Jemaat Gereja",
                Data = new Dictionary<string, double>
                {
                    {"Lansia", Model.TotalLansia},
                    {"Dewasa", Model.TotalDewasa},
                    {"Pemuda", Model.TotalPemuda},
                    {"Remaja", Model.TotalRemaja},
                    {"Anak", Model.TotalAnak},
                },
            };
        }

        <vc:chart chart-model=chartModel></vc:chart>
    </div>
    <div class="about-text">
        <h2>Jumlah Jemaat GMIT Ebenhaezer Oeba</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris.
        </p>
        @* <div class="about-fe">
        <div class="fe-text">
        <h5 data-aos="fade-in">Jumlah Coders</h5>
        <p data-aos="fade-in">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        </p>
        </div>
        </div> *@

        <div class="counters">
            <div>
                <div class="=counter">
                    <h3><span data-count="@Model.TotalLansia">0</span></h3>
                    <h4>Lansia</h4>
                </div>
                <div class="=counter">
                    <h3><span data-count="@Model.TotalDewasa">0</span></h3>
                    <h4>Dewasa</h4>
                </div>
                <div class="=counter">
                    <h3><span data-count="@Model.TotalPemuda">0</span></h3>
                    <h4>Pemuda</h4>
                </div>
                <div class="=counter">
                    <h3><span data-count="@Model.TotalRemaja">0</span></h3>
                    <h4>Remaja</h4>
                </div>
                <div class="=counter">
                    <h3><span data-count="@Model.TotalAnak">0</span></h3>
                    <h4>Anak</h4>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Chart Section -->
@section Scripts {
    <script type="text/javascript" src="~/js/counter.js"></script>

    <script type="text/javascript">
        $(function () {
            $('.badan-utama').css({
                'padding-left': '0',
                'padding-right': '0',
                'padding-top': '0rem',
            });
        });
    </script>
}